body {
  background-color: rgb(255, 255, 255);
  font: 400 1.375em/1.38 Helvetica;
  color: #271948;
}

.container {
  float: left;
  width: 31.3333333333%;
  height: 278px;
  max-height: 279px;
}

.container .text {
  float: left;
  color: #271948;
}

.element {
  float: left;
  background-repeat: no-repeat;
  background-size: cover;
}

.navbar {
  float: left;
  width: 100%;
  height: 50px;
  min-height: 47px;
  background-color: rgb(255, 255, 255);
}

.navbar .element {
  width: 48px;
  height: 48px;
  margin: 2px 0 0 10.28125%;
  background-image: url('../images/mattyether.png');
  background-position: left top;
  background-color: rgba(222, 222, 222, 0);
}

.text {
  text-align: center;
}

.wrapper {
  float: left;
  width: 80%;
  height: 433px;
  margin: 61px 0 0 10%;
  border-radius: 24px;
  overflow: hidden;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  -ms-transition: 0.2s;
  transition: 0.2s;
}

._button {
  display: block;
  height: 35px;
  min-height: 35px;
  background-color: rgba(222, 222, 222, 0);
  text-align: center;
}

.navbar ._button {
  float: left;
  margin-top: 8px;
  font-size: 0.727em;
}

.navbar ._button:hover {
  border-style: solid;
}

.container-1 {
  clear: both;
  margin: 218px 0 0 10%;
}

.container-2 {
  margin: 552px 0 0 24.4974%;
}

.element-2 {
  position: relative;
  clear: both;
  z-index: 6;
  width: 100%;
  height: 367px;
  margin-top: 554px;
  background-image: url('../images/oboi2.png');
  background-position: center center;
  background-attachment: fixed;
  background-color: rgb(222, 222, 222);
}

.text-1 {
  margin-left: 1.04721%;
  font-size: 2.091em;
}

.text-2 {
  clear: both;
  width: 376px;
  margin-left: -0.10389%;
  font-size: 1em;
}

.text-3 {
  width: 376px;
  margin-left: -0.00416%;
  font-size: 2.136em;
}

.text-4 {
  clear: both;
  width: 376px;
  margin-left: -0.00416%;
  font-size: 1em;
}

.text-5 {
  position: relative;
  float: left;
  clear: both;
  z-index: 7;
  max-height: 128px;
  margin: -248px 0 0 36.39974%;
  font-size: 2.136em;
  color: #ffffff;
}

.text-6 {
  margin: 0 auto;
  font-size: 0.727em;
  color: rgb(0, 0, 0);
}

._button-5 {
  width: 15.1666666666%;
  min-width: 172px;
  margin: 2555px auto 0;
  border: 2px solid rgb(255, 54, 54);
  border-radius: 6px;
  font-size: 0.636em;
  color: rgb(255, 54, 54);
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -ms-transition: 0.3s;
  transition: 0.3s;
}

._button-5:hover {
  border-top-width: 0;
  border-right-width: 0;
  border-bottom-width: 0;
  border-left-width: 0;
  border-style: none;
  border-radius: 6px;
  background-color: rgb(255, 54, 54);
  font-size: 14px;
  color: #ffffff;
}

.navbar ._button-1 {
  width: 7.5020610057%;
  min-width: 90px;
  margin-left: 1.1731799999%;
  color: rgb(0, 0, 0);
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  -ms-transition: 0.2s;
  transition: 0.2s;
}

.navbar ._button-2 {
  width: 7.9142621599%;
  min-width: 95px;
  margin-left: 1.17448%;
  color: rgb(0, 0, 0);
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  -ms-transition: 0.2s;
  transition: 0.2s;
}

.navbar ._button-3 {
  width: 7.5020610057%;
  min-width: 90px;
  margin-left: 1.17448%;
  color: rgb(0, 0, 0);
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  -ms-transition: 0.2s;
  transition: 0.2s;
}

.navbar ._button-1:hover,
.navbar ._button-2:hover,
.navbar ._button-3:hover {
  border-width: 2px;
  border-color: rgb(0, 0, 0);
  border-radius: 6px;
}

.navbar ._button-4 {
  width: 11.788953009%;
  min-width: 141px;
  margin-left: 31.52344%;
  border: 2px solid #ff3636;
  border-radius: 6px;
  color: rgb(255, 54, 54);
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -ms-transition: 0.3s;
  transition: 0.3s;
}

.navbar ._button-4:hover {
  border-width: 2;
  border-color: #909be9;
  border-radius: 6px;
  background-color: rgb(255, 54, 54);
  color: #ffffff;
}

@media(max-width: 900px) {
  .element {
    margin-top: 553px;
  }

  .navbar {
    height: 47px;
  }

  ._button {
    width: 28.6666666666%;
  }

  .container .text-1 {
    width: 100%;
    height: 112px;
    margin-left: 0;
    font-size: 1.864em;
  }

  .container .text-2 {
    width: 367px;
    margin-left: -0.10054%;
  }

  .container .text-3,
  .container .text-4 {
    margin-left: 0;
  }

  .container-1 {
    width: 41.4444444444%;
    height: 255px;
    margin-top: 206px;
  }

  .container-2 {
    width: 38.5555555555%;
    margin-top: 553px;
    margin-left: 0;
  }

  .element-2 {
    position: relative;
    z-index: 6;
  }

  .text-5 {
    position: relative;
    z-index: 7;
    margin-top: -249px;
    margin-left: 28.79861%;
  }

  .navbar ._button-1,
  .navbar ._button-2,
  .navbar ._button-3 {
    margin-left: 1.17188%;
  }

  .navbar ._button-4 {
    margin-left: 24.6441%;
  }
}

@media(max-width: 600px) {
  body {
    font-size: 1.375em;
  }

  .navbar {
    height: 51px;
  }

  ._button {
    min-width: 0;
  }

  .container .text-1 {
    width: 367px;
  }

  .container .text-2 {
    margin-left: 0;
    font-size: 0.909em;
  }

  .container-1 {
    width: 61.1666666666%;
    margin-top: 199px;
    margin-left: 18.66146%;
  }

  .container-2 {
    clear: both;
    width: 61.5%;
    margin-top: 47px;
    margin-left: 19%;
  }

  .element-2 {
    position: relative;
    z-index: 6;
    margin-top: 605px;
  }

  .text-5 {
    position: relative;
    z-index: 7;
    margin-top: -246px;
    margin-left: 16.79948%;
  }

  ._button-5 {
    min-height: 0;
  }

  .navbar ._button-4 {
    margin-left: 4.89844%;
  }
}

@media(max-width: 400px) {
  .container {
    max-height: none;
    margin-left: 18.75%;
  }

  .navbar {
    height: 89px;
  }

  ._button {
    margin-top: 2586px;
  }

  .container .text-1 {
    width: 245px;
    height: 77px;
    margin-left: -0.26148%;
    font-size: 1.227em;
  }

  .container .text-2 {
    width: 245px;
    margin-left: -0.26148%;
  }

  .container .text-3 {
    width: 246px;
    font-size: 1.591em;
  }

  .container .text-4 {
    width: 246px;
  }

  .container-1 {
    width: 61.25%;
    height: 316px;
  }

  .container-2 {
    height: 360px;
    margin-top: 50px;
  }

  .element-2 {
    position: relative;
    z-index: 6;
    margin-top: 540px;
  }

  .text-5 {
    position: relative;
    z-index: 7;
    width: 320px;
    height: 101px;
    margin-top: -239px;
    margin-left: 10%;
    font-size: 1.636em;
  }

  ._button-5 {
    width: 42.5%;
    min-width: 2px;
  }

  .navbar ._button-2 {
    position: relative;
    z-index: 13;
  }

  .navbar ._button-3 {
    position: relative;
    z-index: 14;
  }

  .navbar ._button-4 {
    clear: both;
    margin-top: 0;
    margin-left: 59.29688%;
  }
}